body{
    background: #ffe url(/img/fade.png) top repeat-x;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    margin: 0;
    padding: 0;
    color: #800;
}
a, a:visited{
    color: #00e;
    text-decoration: none;
}
hr{
    border: none;
    border-top: 1px solid #D9BFB7;
    height: 0;
}
label{
    background-color: #EA8;
    padding: 0 0 0 5px!important;
    border: 1px solid #800;
}
textarea:focus, input:focus{
    border-color: #D9BFB7!important;
}
blockquote{
    border: none!important;
}
.quote{
    color: #789922!important;
}
/** Boards/Threads**/
.ad{
    border: 1px solid #800;
    max-width: 800px;
    padding: 40px;
}
.ad p{
    margin: 0;
}
.newThread{
    font-size: 22px;
    font-weight: bold;
}
.newThread span{
    color: #00e;
}
.newThread span:hover, .hideIcon:hover{
    color: #800;
    cursor: pointer;
}
#newThread-form{
    max-width: 936px;
    margin: 10px auto;
}
.thread-container{
    clear: both;
    margin: 0;
    height: auto;
}
.threadThumbnail {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.threadImg {
    height: auto;
    max-width: 200px;
}
.expandedImg {
    max-width: none!important;
}
.threadThumbnail-push {
    float: none;
}
#thread-author{
    color: #117743;
}
#thread-title, #thread-id, #thread-comment, #thread-author{
    font-weight: bold;
}
#thread-message{
    font-size: inherit;
}
/**Home page stuff */
.home-panel{
    border: 1px solid black;
    border-radius: 0!important;
}
.red-panel, .board-panel{
    background-color: #800!important;
    background-image: none!important;
    padding: 0;
    padding-left: 10px;
    margin: 0!important;
    border-radius: 0!important;
}
.summary{
    color:#707070;
}
.board-nav{
    color: #B86;
}
#bannerImg{
    border: 1px solid #800;
}
.board-nav span a{
    color: #800;
}
.boardTitle{
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
}
.board-panel{
    background-color: #fca!important;
}
.red-panel *, .board-panel *{
    margin: 0;
    color: #fff;
}
.board-panel *,
.stats strong,
.bottom-nav ul li a
{
    color: #800;
}
.stats{
    list-style-type: none;
}

.reply-container{
    margin-left: 20px;
}
.reply{
    background-color: #f0e0d6;
    border: 1px solid #D9BFB7;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;
    margin: 10px;
}
.reply-container span {
    float: left;

}
.comment-info {
    overflow: auto;
    margin: 0 20px;
}
.bottom-nav ul{
    text-align: center;
    border-top:1px solid #800;
}

.bottom-nav ul li{
    display:inline;
    background-color: #fed;
    margin: -3px;
    padding: 0 5px 5px 5px;
    border: 1px solid #800;
}
.legal{
    padding:10px;
}